# Capstone Project
## Machine Learning Engineer Nanodegree
___
### Kennedy Sousa
December 23th, 2017


Bank ACME’s Office of Compliance is a department responsible for monitoring the activities and conduct of employees: whenever an irregularity is detected, the bank must analyze whether the irregularity stems from misconduct or weaknesses in the process, in order to mitigate the operational risk and apply the penalty to those involved, if applicable, including possible compensation for financial losses. 

The procedure starts with a process called preliminary analysis that consists in an investigation and aims to gather information about the issue, like authorship, which rule was broken, description of the facts, value involved, etc. After all the relevant information is gathered, the final report and the chain of evidence are sent to decision-making authority for deliberation. If the case is admitted, the indictee becomes defendant and is subject to penalties like written reprimand, suspension and discharge. 

This project addresses the real world problem of identifying whether the case will be admitted or not, based in some multiple-choice fields filled in the report. 


<div class="alert alert-block alert-info">In order to avoid server scripting languages as PHP or ASP.NET this notebook implements the client side to help us during the tests.</div>

### Step 1 - Loading libraries

Run the cell below to import the necessary libraries and set the header to send and accept json responses.

In [1]:
import pandas as pd
import json
import requests
from IPython.display import display

"""
Setting the headers to send and accept json responses
"""

header = {'Content-Type': 'application/json', 'Accept': 'application/json'}

### Step 2 - Loading data

The following cell loads and shows the first rows of the provided test file.

In [2]:
"""
Reading test batch
"""
df = pd.read_csv('test_data.csv', sep=';')
df = df.head()
display(df)

,cd_analise,nu_origem,ic_22,ic_23,ic_231,ic_24,ic_25,ic_26,ic_27,ic_28,...,nu_283_res,ic_29,ic_291_prestador,ic_291_estagiario,ic_291_menor,ic_291_outrosPF,ic_291_PJ,ic_291_naoIndicado,ic_293,ic_210
0,81653,6,2,1,3,1,3,3,3,3,...,0.0,3,0,0,0,0,0,0,0,1
1,84856,9,2,1,1,1,3,2,1,1,...,0.0,1,1,0,0,0,0,0,1,1
2,84922,9,2,1,1,1,2,3,3,1,...,0.0,1,0,0,0,1,0,0,3,2
3,85145,9,2,2,2,2,0,0,0,1,...,0.0,3,0,0,0,0,0,0,0,3
4,85146,9,2,1,1,1,3,2,2,2,...,0.0,2,0,0,0,0,0,0,0,3

### Step 3 - Prepare the request

The following cell converts the dataframe to json object to allow us to communicate with the API.

In [3]:
"""
Converting Pandas Dataframe to json
"""
data = df.to_json(orient='records')

# Uncomment the next line to see the result
# print(data)

### Step 4 - Send the request

<div class="alert alert-block alert-warning">Make sure the server is running before sending the request.</div>

Run the cell bellow to send the data prepared in the previous step to the API endpoint.

In [4]:
resp = requests.post("http://0.0.0.0:8000/predict", data = json.dumps(data), headers = header)

### Step 5 - Receiving answers

Run the next cell to receive, format and print the answer provided.

In [5]:
print("Status code: {}".format(resp.status_code))
print(resp.json())

Status code: 200
{'predictions': '[{"0":81653,"1":0},{"0":84856,"1":1},{"0":84922,"1":1},{"0":85145,"1":1},{"0":85146,"1":1}]'}